<div style="text-align: center; background-color: #F0F0F0; padding: 10px;">
  <p>&copy; <%= Time.now.year %> Renukai Career Center. All rights reserved.</p>
  <p><a href="mailto:info@renukaicareercenter.com">info@renukaicareercenter.com</a></p>
</div>