<!-- app/views/example/generate_pdf.html.erb -->

<div style="background-image: url(<%= asset_path('latur-hallticket.jpg') %>);">
  <table>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
    </tr>
    <tr>
      <td>Row 1</td>
      <td>Row 1</td>
    </tr>
    <tr>
      <td>Row 2</td>
      <td>Row 2</td>
    </tr>
  </table>
</div>


<!-- app/views/example/generate_pdf.html.erb -->

<style>
  /* Set the background image for the entire page */
  body {
    background-image: url(<%= asset_path('joshi-banner.jpeg') %>);
  }

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  th {
    background-color: #cccccc;
    font-size: 14px;
    text-align: center;
  }
  td {
    font-size: 12px;
  }
</style>

<table>
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
  </tr>
  <tr>
    <td>Row 1</td>
    <td>Row 1</td>
  </tr>
  <tr>
    <td>Row 2</td>
    <td>Row 2</td>
  </tr>
</table>
