// Place all the styles related to the students/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-right-5 {
  margin-right: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}
.text-center {
  text-align: center;
}

.mark-review-btn:before {
  content: 'Mark For Review and Next';
}
.previous-btn:before {
  content: 'Previous';
}

.save-next-btn:before {
  content: 'Save & Next';
}

.clear-response-btn:before {
  content: 'Clear Response';
}
@media screen and (max-width: 650px) {
  .mark-review-btn:before {
    content: 'Mark & >>';
  }
  .previous-btn:before {
    content: '<<';
  }
  .save-next-btn:before {
    content: 'Save & >>';
  }
  .clear-response-btn:before {
    content: 'Clear';
  }
}

.navigation-map {
  margin-top: 30px;
}
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #e7f9ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
  margin-bottom: 0;
  @media (max-width: 575px) {
    width: 100%;
    .panel {
      width: 100%;
    }
  }
  @media (min-width: 576px) {
    width: 350px;
    .panel {
      width: 350px;
      padding-left: 50px !important;
    }
  }
}

.sidenav a {
    padding: 8px 8px 8px 2px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 36px;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-20 {
  padding-bottom: 20px;
}
.margin-20 {
  margin: 20px;
}
