<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav-ul">
      <li class="nav-li"><a href="/admin/students">Manage Students </a></li>
      <li class="nav-li"><a href="/admin/batches">Manage Batches </a></li>
    </ul>
  </div>
</nav>
