
<div class="container">
  <div class="row">
      <div class="col-xs-8">
        <div class="col-md-8 text-center" style="color: #e91e63">
          Welcome to Bansal Classes.
        </div>
      </div>
      <div class="col-xs-4">
        <a href="/students/tests" class="btn btn-info" role="button">
          Start Exam
        </a>
      </div>
  </div>
</div>

&nbsp;
<div class="bansal-banner">
  <%= image_tag 'bansal-banner-1' %>
</div>
&nbsp;
&nbsp;


<div class="col-md-12 text-center" style="padding-top: 40px;">
  <a href="/students/tests" class="btn btn-warning" role="button">Start Online Examinations</a>
</div>
<hr>


 <!-- Footer -->
 <footer class="page-footer font-small blue" style="background-color: rgb(33, 150, 243);">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#" style="color:antiquewhite"> Bansal Classes</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

