
<div class="container">
  <div class="row">
      <div class="col-xs-8">
        <div class="col-md-8 text-center" style="color: #e91e63">
          Joshi Maths Classes, आपले स्वागत आहे
        </div>
      </div>
      <div class="col-xs-4">
        <a href="/students/tests" class="btn btn-info" role="button">
          Start Exam
        </a>
      </div>
  </div>
</div>

&nbsp;
<div class="main-banner">
</div>
&nbsp;
&nbsp;

<section>
  <div id="grad2" style="color: aliceblue; text-align: center; padding: 20px 10px; border-radius: 20px">
    <div class="heading-text heading-section">
      <h2>क्लासेस बद्दल दोन शब्द..</h2>
      <span class="lead">जोशी मॅथ क्लासेस ची सुरुवात श्याम नगर भागातील एका लहानशा खोली मधून झाली. त्यावेळी सुरुवातीला एकच विद्यार्थी होता. हळूहळू गर्दी वाढत गेली सरांनी क्लास साठी त्याच भागात मोठा हॉल घेतला. आणखी गर्दी वाढत होती सरांनी औसा रोड भागात आपली दुसरी शाखा काढली सराी औसाा रोड भागात स्वतःची जागा घेऊन सुसज्ज अशी इमारत क्लासेस साठी तयार केली .बरेच वर्षे सरांनी तिथे शिकवणी घेतल्यानंतर सर्व क्लासेस उद्योग भवन भागात आहेत. आपल्या विद्यार्थ्यांना येणाऱ्या-जाणाऱ्या यांचा त्रास होतोय हे कळल्यावर त्यांना उद्योग भवन भागात स्वतःची जागा घेऊन सुसज्ज अशी क्लास ची वास्तू तयार केली. क्लासेस आत्ता या जागी चालतात.</span>
    </div>
  </div>
</section>

<div class="col-md-12 text-center" style="padding-top: 40px;">
  <a href="/students/tests" class="btn btn-warning" role="button">Start JMC Online Examinations</a>
</div>
<hr>


 <!-- Footer -->
 <footer class="page-footer font-small blue" style="background-color: rgb(33, 150, 243);">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="http://joshimathsclasses.com/" style="color:antiquewhite"> Joshi Maths classes, Latur.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<style>
  #grad2 {
    background-color: transparent;
    background-image: linear-gradient(120deg, rgb(88 144 255) 0%, #2d8e41 100%);
  }
  @media (max-width: 600px) {
    .main-banner {
      background-image: url(<%= asset_path 'joshi-banner' %>);
      width: 100%;
      max-width: 100%;
      height: 30vh;
      background-size: cover;
    }
  }
  @media (min-width: 600px) {
    .main-banner {
      background-image: url(<%= asset_path 'joshi-banner' %>);
      width: 100%;
      max-width: 100%;
      height: 60vh;
      background-size: cover;
    }
  }
</style>