<% if @exam.present? %>
  <div class="container">
    <div class="text-center" style="width: 100%; padding: 10px 4px; background-color: antiquewhite;">
      <span class=" text-center">
        <h4><%= @exam.name %></h4>
        <b><%= @exam.no_of_questions * 4 %> Marks </b> &nbsp; &nbsp; Exam in <%= @exam.time_in_minutes %> mins
      </span>
    </div>

    <div class="row">
      <div class="shadow-div">
        <p>Read the following instructions carefully.</p>
        <ol>
          <li class="margin-left">
            Each question will have only 1 of the available options as the correct answer.
          </li>
          <li class="margin-left">
            correct: +4, Negative: -1, No marks will be deducted for un­attempted questions.
          </li>
          <li class="margin-left">
            You are advised not to close the browser window before submitting the test.
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-center">
        <a href="/students/exam/<%= @exam.id %>">
          <button type="button" id="btnConfirm" class="btn btn-success">I am ready to begin</button>
        </a>
      </div>
      <div class="text-center" style="width: 100%; padding-top: 20px;">
        <span class="text-danger text-center">
          <h4>
            Next step will load all paper at once.
            <br>
            This will take some time, please wait.
          </h4>
        </span>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
   Mock exam not available yet. Please contact to administrator.
  </div>
<% end %>