<div class="col-lg-8 card">
  <p style="text-align: center; padding-top: 20px"">Dear, <b><%=@name %></b> </p>
  <p style="text-align: center;">Your RCC SET Exam Hallticket is available.</p>
  <p style="text-align: center;">Please download it, by clicking the blow link.</p>
  <div style="text-align: center; padding-bottom: 40px"">
    <a style="text-align: center" class="btn btn-primary" href="/students/print_hall_ticket.pdf" role="button">Download Hall Ticket</a>
  </div>
</div>