<div class="container" style="background-color: #FAFCF9;">
  <div style="margin-left: 20px;">
  <div class='row'>
      <h3>General Instructions:</h3>
  </div>
  <div class="row">
    <ol>
      <li>
        The clock will be set at the server. The countdown timer at the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by itself. You need not terminate the examination or submit your paper.
      </li>
      <li>
        The Question Palette displayed on the right side of screen will show the status of each question using one of the following color:
        <br>
          <span>
            <span class="label label-default"> </span>
            <span style="margin-left: 5px;"> - You have not visited the question yet.</span>
          </span>
        <br>
          <span>
            <span class="label label-danger"> </span>
            <span style="margin-left: 5px;"> - You have not answered the question.</span>
          </span>
        <br>
          <span>
            <span class="label label-success"> </span>
            <span style="margin-left: 5px;"> - You have answered the question. </span>
          </span>
        <br>
          <span>
            <span class="label label-warning"> </span>
            <span style="margin-left: 5px;"> - You have NOT answered the question, but have marked the question for review.</span>
          </span>
        <br>
          <span>
            <span class="label label-primary"> </span>
            <span style="margin-left: 5px;"> - You have answered the question, but marked it for review.</span>
          </span>
        <br>
      </li>
    </ol>
  </div>
  <div class="row">
    The <b>Mark For Review</b> status for a question simply indicates that you would like to look at that question again. If a question is answered, but marked for review, then the answer will be considered for evaluation unless the status is modified by the candidate.
  </div>
  <div class="row">
    <b>Navigating to a Question :</b>
  </div>
  <div class="row">
    <ol start='3'>
      <li>
        To answer a question, do the following:
        <ol>
          <li>
            Click on the question number in the Question Palette at the right of your screen to go to that
            numbered question directly. Note that using this option does NOT save your answer to the current
            question.
          </li>
          <li>
            Click on <b>Save & Next</b> to save your answer for the current question and then go to the next
            question.
          </li>
          <li>
            Click on <b>Mark for Review & Next</b> to save your answer for the current question and also mark it for
            review, and then go to the next question.
            Note that your answer for the current question will not be saved, if you navigate to another question directly by
            clicking on a question number without saving the answer to the previous question.
            You can view all the questions by clicking on the <b>Question Paper</b> button. <span style="color: red"><b>This feature is provided, so that if you want you can just see the entire question paper at a glance.</b></span>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="row">
    <b>Answering a Question :</b>
  </div>
  <div class="row">
    <ol start="4">
      <li>
        Procedure for answering a multiple choice (MCQ) type question:
        <ol>
          <li>
            Choose one answer from the 4 options (A,B,C,D) given below the question, click on the bubble
            placed before the chosen option.
          </li>
          <li>
            To deselect your chosen answer, click on the bubble of the chosen option again or click on the
            <b>Clear Response</b> button
          </li>
          <li>
            To change your chosen answer, click on the bubble of another option.
          </li>
          <li>
            To save your answer, you MUST click on the <b>Save & Next</b>
          </li>
        </ol>
      </li>
      <li>
        Procedure for answering a numerical answer type question :
        <ol>
          <li>
            To enter a number as your answer, use the virtual numerical keypad.
          </li>
          <li>
            A fraction (e.g. -0.3 or -.3) can be entered as an answer with or without "0" before the decimal
            point. <span style="color: red"><b>As many as four decimal points, e.g. 12.5435 or 0.003 or -932.6711 or 12.82 can be entered.</b></span>
          </li>
          <li>
            To clear your answer, click on the <b>Clear Response</b> button
          </li>
          <li>
            To save your answer, you MUST click on the <b>Save & Next</b>
          </li>
        </ol>
      </li>
      <li>
        To mark a question for review, click on the <b>Mark for Review & Next</b> button. If an answer is selected (for
        MCQ) entered (for numerival answer type) for a question that is <b>Marked for Review</b> , that answer will be
        considered in the evaluation unless the status is modified by the candidate.
      </li>
      <li>
        To change your answer to a question that has already been answered, first select that question for
        answering and then follow the procedure for answering that type of question.
      </li>
      <li>
        Note that ONLY Questions for which answers are <b>saved</b> or <b>marked for review after answering</b> will be
        considered for evaluation.
      </li>
      <li>
        Sections in this question paper are displayed on the top bar of the screen. Questions in a Section can be
        viewed by clicking on the name of that Section. The Section you are currently viewing will be highlighted.
      </li>
      <li>
        After clicking the <b>Save & Next</b> button for the last question in a Section, you will automatically be taken to the first question of the next Section in sequence.
      </li>
      <li>
        You can move the mouse cursor over the name of a Section to view the answering status for that
      </li>
    </ol>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-1 pull-right">
      <a href="<%= students_exam_confirmation_path(exam_id: @exam_id) %>"><button class="btn btn-success">Next</button></a>
    </div>
  </div>
</div>
