<%= react_component("Summary", props: @summary_data) %>
<div class="text-center">
  <%=  link_to  '<button class="btn btn-success">Continue</button>'.html_safe, students_tests_path %>
  <%=  link_to  '<button class="btn btn-primary">View Model Answer details</button>'.html_safe, students_model_answer_path(@exam_id) %>
</div>