<div class="container">
  <div class="row" style="text-align: center;">
    <div style="margin-bottom: 20px;"><h3>Summary of section(s) answered</h3></div>
    <div class="text-muted">Your answers have been saved successfully.</div>
  </div>
  <div class="table">
    <table class="table-responsive" style="border-collapse: collapse; text-align: center; border: 1px solid #ddd;margin-top: 50px;">
      <tr>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Sections</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">No of questions</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Answered</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Not-answered</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Marked for Reivew</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Not Visited</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Total Time Spent</th>
        <th style="background-color: #4CAF50;color: white;border: 1px solid #ddd;">Average Time Spent On Each Question</th>
        
      </tr>
      <tr>
        <td style="border: 1px solid #ddd;">Genereal</td>
        <td style="border: 1px solid #ddd;">60</td>
        <td style="border: 1px solid #ddd;">3</td>
        <td style="border: 1px solid #ddd;">8</td>
        <td style="border: 1px solid #ddd;">1</td>
        <td style="border: 1px solid #ddd;">49</td>
        <td style="border: 1px solid #ddd;">1 Hr 2 Min</td>
        <td style="border: 1px solid #ddd;">48 Sec</td>

      </tr>
      <tr>
        <td style="border: 1px solid #ddd;">Descriptive</td>
        <td style="border: 1px solid #ddd;">50</td>
        <td style="border: 1px solid #ddd;">13</td>
        <td style="border: 1px solid #ddd;">7</td>
        <td style="border: 1px solid #ddd;">3</td>
        <td style="border: 1px solid #ddd;">39</td>
        <td style="border: 1px solid #ddd;">22 Min</td>
        <td style="border: 1px solid #ddd;">12 Sec</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="pull-right">
      <a href="#"><button class="btn btn-success">Continue</button></a>
    </div>
  </div>
</div>
