<div style="text-align: right; padding-bottom: 10px;">
  <% if current_student %>
    <span>Welcome:</span>
    <span style="color: darkblue; background-color: bisque; padding: 5px;">
      <b><%= current_student&.name&.split[1] || current_student&.name %></b>
    </span>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#new_exams">
      <h5>New Exams</h5>
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#previous_exams">
      <h5>Previous Exams</h5>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div id="new_exams" class="tab-pane fade in active">
    <br>
    <% if @new_exams.size == 0 %>
      <div class="well"> 
        No New exams available for your batch right now. 
        Check Previous exams.
      </div>
    <% else %>
      <div class="row">
      <% @new_exams.each do |exam| %>
        <%= render partial: "exam_card", locals: {exam: exam} %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="previous_exams" class="tab-pane fade">
    <br>
    <% if @previous_exams.size == 0 %>
      <div class="well"> No exams available for your batch right now. Please try after some time. </div>
    <% else %>
      <div class="row">
      <% @previous_exams.each do |exam| %>
        <%= render partial: "exam_card", locals: {exam: exam} %>
      <% end %>
    </div>
    <% end %>
  </div>
