<% if false && request.subdomain == 'exams' && (current_student.batches&.ids & [697, 698]).present? %>
  <div style="background-color: #1DA1F2; margin-bottom: 10px; color: white; padding: 6px;">
    <h5 style="text-align: center">12th RCC SET 22-23 Hall ticket</h5>
    <div>
      <a style="text-align: center" class="btn btn-light" href="/students/print_hall_ticket.pdf" role="button">Download Hall Ticket</a>
    </div>
  </div>
<% end %>
<div class="tabbable-panel" style="position: relative;">
  <a href="<%= students_progress_report_path %>">
    <div style="position: absolute; right: 0; top:0; padding: 5px 10px; margin-top: 5px; background-color: red; border-radius: 15px">
      <i class="far fa-chart-bar" style="color: white"></i>
      <span style="color:white">Progress</span>
    </div>
  </a>
  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <li class="active">
        <a data-toggle="tab" href="#new_exams">
          New Exams
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#previous_exams">
          Previous Exams
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="new_exams">
        <% if @new_exams.size == 0 %>
          <div class="well">
            No New exams available for your batch right now.
            Check Previous exams.
          </div>
        <% else %>
          <div class="row" style="padding: 0px 10px">
            <% @new_exams.each do |exam| %>
              <%= render partial: "exam_card", locals: {exam: exam} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="previous_exams" class="tab-pane">
        <% if @previous_exams.size == 0 %>
          <div class="well"> No exams available for your batch right now. Please try after some time. </div>
        <% else %>
          <div class="row" style="padding: 0px 10px">
            <% @previous_exams.each do |exam| %>
              <%= render partial: "exam_card", locals: {exam: exam} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
  .card-horizontal {
    display: flex;
    flex-shrink: 0;
    flex: 2 1 auto;
  }

    /* Tabs panel */
  .tabbable-panel {
    border:1px solid #eee;
    padding: 0px;
    margin: -10px;
  }

  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 5px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }

  .warning {
    margin-top: -10px;
    text-align: center;
  }
  .blink-bg{
		color: #fff;
		padding: 2px 10px;
		display: inline-block;
		border-radius: 5px;
		animation: blinkingBackground 5s infinite;
	}
	@keyframes blinkingBackground{
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	{ background-color: #04a1d5;}
	}
</style>