<div class="container">
  <h4> Available Mock Exams </h4>
  <hr>
    <div class="row">
      <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'bio', class: 'card-img-top', width: '200px' %>
        <div class="card-body">
          <h5 class="card-title">Diversity of Living Organisms</h5>
          <p class="card-text"></p>
          <ul>
            <li>The Living World</li>
            <li>Biological Classification</li>
            <li>Plant Kingdom</li>
            <li>Animal Kingdom</li>
          </ul>
          <a href="<%= students_exam_instructions_path %>" class="btn btn-primary">Appear Exam</a>
        </div>
      </div>
    </div>
    </div>
  <hr>
  <p> Note: Mock Exams and questions updating soon.. </p>
</div>
