<div class="container text-center" style="background-color: white; padding: 40px; border-radius: 10px;">
  <h4 class="text-red">Please use RCC desktop app</h4>

  <hr>
    <h3>RCC App Updated, Please remove your current app and Install updated one.</h3>
  <hr>
  <p>
    Download it from <a href="https://smart-exams-production-v2.s3.ap-south-1.amazonaws.com/apks/rcc_app_v3.zip"> here </a>
  </p>

  <p>
    Or, Goto <a href="https://rccpattern.com/"> https://rccpattern.com </a>
    Click on 'Digital RCC' and Download the Windows Desktop App.
  </p>

  <p>
    - Team RCC
  </p>
</div>