<div class="container text-center" style="background-color: white; padding: 40px; border-radius: 10px;">
  <h4 class="text-red">Please use RCC desktop app</h4>
  <p>
    Goto <a href="https://rccpattern.com/"> https://rccpattern.com </a>
    Click on 'Digital RCC' and Download the Windows Desktop App.
  </p>
  <p>
    - Team RCC
  </p>
</div>