<div style="padding: 10px;">
  <ul class="nav nav-tabs" style="width: 100%;">
    <li class="active"><a data-toggle="tab" href="#chem">Chemistry</a></li>
    <li><a data-toggle="tab" href="#phy">Physics</a></li>
    <li><a data-toggle="tab" href="#bio">Biology</a></li>
    <li><a data-toggle="tab" href="#math">Maths</a></li>
    <li><a data-toggle="tab" href="#other">Other</a></li>
  </ul>

  <div class="tab-content">
    <div id="chem" class="tab-pane fade in active">
      <div>
        <% @videos.each do |video| %>
        <% video_url = "/students/lectures/#{video[:video_id]}" %>
        <div class="card col-md-12" style="padding-top: 10px">
          <div class="row" style="padding: 20px">
            <div class="col-md-2 col-sm-2 col-sx-2">
              <%= image_tag 'play', size: "80x50" %>
            </div>
            <div class="col-md-10 col-sm-10 col-sx-10 text-center">
              <h5 class="card-title"><%= video[:title] %></h5>
              <a href="<%= video_url %>" class="btn btn-warning">Play Video</a>
            </div>
          </div>
        </div>
        &nbsp;
        <% end %>
      </div>
    </div>
    <div id="phy" class="tab-pane fade">
      <h3>Physics</h3>
      <p>We will upload new Physics lectures soon..</p>
    </div>
    <div id="bio" class="tab-pane fade">
      <h3>Biology</h3>
      <p>We will upload new Biology lectures soon..</p>
    </div>
    <div id="math" class="tab-pane fade">
      <h3>Maths</h3>
      <p>We will upload new Maths lectures soon..</p>
    </div>
    <div id="other" class="tab-pane fade">
      <h3>Other</h3>
      <p>We will upload new Genral Motivational lectures soon..</p>
    </div>
  </div>
</div>
