<div class="row" >
  <div class="col-lg-8" style="background-color:rgb(222, 222, 222); ">
    <%= form_tag(admin_zoom_meetings_path, method: :post) do %>
      <div class="card-body">
        <h3 class="card-title">Add New Zoom Meeting</h3>
        <div class="pull-right">
          <label class="selectgroup-item">
            <input type="radio" name="live_type" value="zoom" class="selectgroup-input" required checked>
            <span class="selectgroup-button">Zoom Live</span>
          </label>
          <label class="selectgroup-item">
            <input type="radio" name="live_type" value="vimeo" class="selectgroup-input" required>
            <span class="selectgroup-button">Vimeo Live</span>
          </label>
        </div>
        <div id="zoom-container">
          <div class="form-group">
            <input type="text" class="form-control" name="zoom_meeting_id" id="zoom_meeting_id" placeholder="Enter Zoom Meeting Id">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="password" id="password" placeholder="Enter Zoom Meeting Password">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="zoom_meeting_url" id="zoom_meeting_url" placeholder="Enter Zoom Meeting URL">
            <span style="font-size: 10px">This URL is only required for web access to zoom meetings</span>
          </div>
        </div>

        <div id="vimeo-container">
          <div class="form-group">
            <input type="text" class="form-control" name="vimeo_live_url" id="vimeo_live_url" placeholder="Enter Vimeo Live URL">
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="teacher_name" placeholder="Enter subject" required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="teacher_name" id="teacher_name" placeholder="Enter teacher name" required>
        </div>

        <div class="form-group">
          <p>Time Of Meeting</p>
          <input type="datetime-local" name="datetime_of_meeting" id="datetime_of_meeting" placeholder="Time of meeting" required>
        </div>

        <div class="form-group">
          <p>Select Batches</p>
          <% @batches.each do |batch| %>
            <label class="checkbox-inline"><input name="batches[]" type="checkbox" value=<%= batch.id %>><%= batch.name %></label>
          <% end %>
        </div>

        <input type="submit" class="btn btn-primary pull-right" />
        <br>
      </div>

    <% end %>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('#vimeo-container').hide();

    $("input[type='radio']").click(function() {
      if(this.value === 'vimeo') {
        $('#zoom-container').hide();
        $('#vimeo-container').show();
      } else {
        $('#zoom-container').show();
        $('#vimeo-container').hide();
      }
    });
  });
</script>
