<div class="row">
  <div class="col-lg-8">
    <%= form_with(model: @batch, url: admin_batch_path(@batch), local: true, html: {class: 'card'}) do |form| %>
      <div class="card-body">
        <h3 class="card-title">Add Batch</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-label">Batch Id</label>
              <%= form.text_field :id, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <label class="form-label">Batch Name</label>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Name',value: @batch.name.titlecase, disabled: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <a href='/admin/batches' class="btn btn-primary">Back</a>
      </div>
    <% end %>
  </div>
</div>
