<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <%= stylesheet_link_tag "http://#{request.host_with_port}/#{asset_path("application.css")}", rel: "stylesheet", media: "all" %>
  <style type="text/css">

    .table, .tr, .td, .table thead th{
      border: 0.5pt solid #dee2e6;

      font-size: 14px;

    }

    .table td, .table th {
      border: 0.5pt solid #dee2e6;
      padding: 0.55rem;
      vertical-align: top;

    }

    thead {
     display: table-header-group
    }

    tfoot {
     display: table-row-group
    }

    tr {
     page-break-inside: avoid
    }

  </style>
</head>
<body style="background-color: white;">
  <%= yield %>
</body>
</html>
